doctype html
html(lang="es")
	head
		title Flat
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", href="css/fontello.css")
		link(rel="stylesheet", href="css/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="menu.js")
	body
		.grande
			header
				.cont.menu
					.titulos
						h1 Flat
						span.icon-align-justify
					nav
						ul
							li: a(href="#") HOME
							li: a(href="#") SERVICES
							li: a(href="#") ABOUT US
							li: a(href="#") CONTACT
				.sli
					.cont
						h2 WE ARE FLAT DIGITAL STUDIO
						h3 Lorem ipsum dolor sit amet, consectetur adipisicing.
				.cont
					.mensaje
						h3  Lorem ipsum.

			main
				.cont
					.submenu
						ul
							li.prin: a(href="#") LOREM
							li: a(href="#") IPSUM
							li: a(href="#") DOLOR SIT
							li: a(href="#") AMET
				.cont
					section
						article.rojo
							img(src="imagenes/estudio.png", alt="imagen1")
						article.ama
							img(src="imagenes/slide.png", alt="imagen2")
						article.blue
							span.icon-skyatlas
						article.aqua
							span.icon-terminal
						article.grey
							img(src="imagenes/cell.png", alt="imagen3")
						article.sky
							h4 Flat
						article.os
							span.icon-chart-line
						article.zal
							span.icon-television
						article.yel
							img(src="imagenes/pag.png", alt="imagen4")

			footer
				.cont
					p &#169; sit amet, consectetur.



